.accordion {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	perspective: 1500px;
}

@media (min-width: 768px) {
	.accordion {
		grid-template-columns: repeat(3, 1fr);
	}
}

.item {
	transition: transform 0.5s;
	transform-style: preserve-3d;
	position: relative;
	background-color: #86a7fc;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	min-height: 200px;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 80%;
	padding-left: 40px;
	backface-visibility: hidden;
	transition: opacity 0.5s;
}

.accordion-content {
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	transition: transform 0.5s, opacity 0.5s;
	opacity: 0;
	position: absolute;
	padding-left: 40px;
	width: 80%;
	top: 0;
	left: 0;
	transform: rotateY(-180deg);
	backface-visibility: hidden;
}

.item.flipped .title {
	opacity: 0;
}

.item.flipped .accordion-content {
	opacity: 1;
	transform: rotateY(0deg);
}
